# ETL de Calidad de Aire en NYC

Importar librerías

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Cargar dataset y hacer transformaciones

In [27]:
df = pd.read_csv('../Datasets/Air Quality/Air_Quality.csv')
df = df[df['Geo Type Name'].isin(['Borough'])]
df = df.pivot_table(index=['Unique ID', 'Indicator ID', 'Measure', 'Measure Info',
                                 'Geo Type Name', 'Geo Join ID', 'Geo Place Name',
                                 'Time Period', 'Start_Date'],
                          columns='Name',
                          values='Data Value').reset_index()
variables = ['Time Period', 'Geo Place Name', 'Fine particles (PM 2.5)' ,'Nitrogen dioxide (NO2)', 'Ozone (O3)']
df = df[variables]
df['Time Period'] = df['Time Period'].str.extract(r'(\d{4})').astype(int)
df.rename(columns={'Time Period': 'Año', 'Geo Place Name': 'Distrito' }, inplace=True)
df.columns.name = None
df = df.groupby(['Año', 'Distrito']).agg('max').reset_index().dropna(how='any')
df.head()

,Año,Distrito,Fine particles (PM 2.5),Nitrogen dioxide (NO2),Ozone (O3)
10,2009,Bronx,11.05,24.52,25.3
11,2009,Brooklyn,10.92,27.17,28.0
12,2009,Manhattan,12.63,33.89,27.5
13,2009,Queens,10.27,25.02,28.3
14,2009,Staten Island,10.50,19.14,30.0