# ETL de Emisiones CO2 en NYC

Importar librerías

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Cargar archivo y hacer transformaciones

In [5]:
# dataset descargado de https://climate.cityofnewyork.us/initiatives/nyc-greenhouse-gas-inventories/
df = pd.read_excel('../Datasets\CY_2005_CY_2022_citywide.xlsx')
df = df[df['Sectors Sector'] == 'Transportation']
df = df[df['Category Full'] == 'On-Road']
df = df[df['Source Full'] == 'Passenger cars']
columnas_emisiones = ['CY 2005 tCO2e', 'CY 2006 tCO2e', 'CY 2007 tCO2e', 'CY 2008 tCO2e', 'CY 2009 tCO2e', 'CY 2010 tCO2e', 'CY 2011 tCO2e', 
            'CY 2012 tCO2e', 'CY 2013 tCO2e', 'CY 2014 tCO2e', 'CY 2015 tCO2e', 'CY 2016 tCO2e', 'CY 2017 tCO2e', 'CY 2018 tCO2e', 
            'CY 2019 tCO2e', 'CY 2020 tCO2e', 'CY 2021 tCO2e', 'CY 2022 tCO2e']
df_emisiones = df[columnas_emisiones]
nuevos_nombres = [col.split()[1] for col in columnas_emisiones]
df_emisiones.columns = nuevos_nombres
df_emisiones = df_emisiones.loc[44,:]
df_emisiones = pd.DataFrame({'Emisiones': df_emisiones}).reset_index().rename(columns={'index': 'Año'})
df_emisiones.head()

    Año    Emisiones
0  2005  12860259.43
1  2006  12828084.43
2  2007  12786857.22
3  2008  12297498.30
4  2009  12087651.48